body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background:#efe7fb;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #fbfafb;
  border-left: 1px solid black;
  padding: 10px;
  font-display: block;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid black;
}

.hour {
  background-color: #2e347f;
  color: #fbfafb;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: red;
  color: white;
}

.future {
  background-color: rgb(27, 211, 27);
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #754751;
  color: #fbfafb;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
